.desktop4 {
    background-color: #02050a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop4 .div {
    background-color: #02050a;
    height: 7586px;
    position: relative;
    width: 1440px;
  }

  .desktop4 .overlap3 {
    
    height: 1025px;
    position: relative;
    top: -10px;
    width: 1132px;
  }

  .desktop4 .my-education {
    color: #55e6a5;
    font-family: "Roboto", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 493px;
    letter-spacing: 2.16px;
    line-height: 45.8px;
    position: absolute;
    top:80px;
    white-space: nowrap;
    width: 294px;
  }

  .desktop4 .group-15 {
    height: 616px;
    left: 200px;
    position: absolute;
    top: 190px;
    width: 1033px;
  }

  .desktop4 .overlap-7 {
    border-radius: 21px;
    height: 618px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 1017px;
  }
  
  .desktop4 .rectangle-6 {
    background-color: #000000;
    border: 1px solid;
    border-color: #7a7a7a;
    border-radius: 21px;
    box-shadow: inset 318px 756px 0px 495px #817e7e40;
    height: 618px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1017px;
  }
  
  .desktop4 .text-wrapper-12 {
    color: #a7a9ac;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 124px;
    letter-spacing: 1.4px;
    line-height: 25.4px;
    position: absolute;
    top: 149px;
    width: 838px;
  }

  .desktop4 .text-wrapper-13 {
    color: #a7a9ac;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 124px;
    letter-spacing: 1.4px;
    line-height: 25.4px;
    position: absolute;
    top: 341px;
    white-space: nowrap;
    width: 771px;
  }
  
  .desktop4 .text-wrapper-14 {
    color: #a7a9ac;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 124px;
    letter-spacing: 1.4px;
    line-height: 25.4px;
    position: absolute;
    top: 525px;
    white-space: nowrap;
    width: 771px;
  }
  
  .desktop4 .acropolis-institute {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 600;
    left: 124px;
    letter-spacing: 1.68px;
    line-height: 30.5px;
    position: absolute;
    top: 93px;
    width: 838px;
  }
  
  .desktop4 .vidyasagar-school {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 600;
    left: 124px;
    letter-spacing: 1.68px;
    line-height: 30.5px;
    position: absolute;
    top: 305px;
    width: 838px;
  }
  
  .desktop4 .pratibhasthali {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 600;
    left: 124px;
    letter-spacing: 1.68px;
    line-height: 30.5px;
    position: absolute;
    top: 489px;
    width: 838px;
  }

  .desktop4 .text-wrapper-15 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 124px;
    letter-spacing: 1.4px;
    line-height: 25.4px;
    position: absolute;
    top: 41px;
    white-space: nowrap;
    width: 194px;
  }
  
  .desktop4 .text-wrapper-16 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 124px;
    letter-spacing: 1.4px;
    line-height: 25.4px;
    position: absolute;
    top: 253px;
    white-space: nowrap;
    width: 194px;
  }
  
  .desktop4 .text-wrapper-17 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 124px;
    letter-spacing: 1.4px;
    line-height: 25.4px;
    position: absolute;
    top: 437px;
    white-space: nowrap;
    width: 194px;
  }
  
  .desktop4 .ellipse {
    background-color: #55e6a5;
    border-radius: 6.5px;
    height: 13px;
    left: 40px;
    position: absolute;
    top: 47px;
    width: 13px;
  }
  
  .desktop4 .ellipse-2 {
    background-color: #55e6a5;
    border-radius: 6.5px;
    height: 13px;
    left: 40px;
    position: absolute;
    top: 258px;
    width: 13px;
  }

  .desktop4 .ellipse-3 {
    background-color: #55e6a5;
    border-radius: 6.5px;
    height: 13px;
    left: 40px;
    position: absolute;
    top: 439px;
    width: 13px;
  }
  
  .desktop4 .line-6 {
    height: 199px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 60px;
    width: 1px;
  }
  
  .desktop4 .line-7 {
    height: 170px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 269px;
    width: 1px;
  }
  
  .desktop4 .line-8 {
    height: 117px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 452px;
    width: 1px;
  }
  

  .desktop4 .vector-7 {
    height: 20px;
    left: 91px;
    position: absolute;
    top: 45px;
    width: 20px;
  }
  
  .desktop4 .vector-8 {
    height: 20px;
    left: 91px;
    position: absolute;
    top: 254px;
    width: 20px;
  }
  
  .desktop4 .vector-9 {
    height: 20px;
    left: 91px;
    position: absolute;
    top: 436px;
    width: 20px;
  }