.desktop1 {
    background-color: #02050a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    top: 0px;
  }
  
  .desktop1 .div {
    background-color: #02050a;
    height: 7586px;
    position: relative;
    width: 1440px;
  }
  
  .desktop1 .overlap1 {
    background-color: #02050a;
    height: 1025px;
    left: 178px;
    position: relative;
    width: 932px;
  }
  
  .desktop1 .line {
    height: 735px;
    left: 318px;
    position: absolute;
    top: 288px;
    width: 278px;
  }
  
  .desktop1 .hi-i-m-manishi {
    color: transparent;
    font-family: "Roboto", Helvetica;
    font-size: 54px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: 68.9px;
    position: absolute;
    top: 171px;
    width: 427px;
  }
  
  .desktop1 .text-wrapper {
    color: #ffffff;
  }
  
  .desktop1 .span {
    color: #55e6a5;
  }
  
  .desktop1 .rectangle {
    height: 1025px;
    left: 512px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 450px;
  }
  
  .desktop1 .img {
    height: 356px;
    left: 507px;
    position: absolute;
    top: 0;
    width: 178px;
  }
  
  .desktop1 .line-2 {
    height: 78px;
    left: 379px;
    position: absolute;
    top: 0;
    width: 46px;
  }
  
  .desktop1 .line-3 {
    height: 337px;
    left: 288px;
    position: absolute;
    top: 0;
    width: 184px;
  }
  
  .desktop1 .i-m-a-passionate {
    color: #a6a9ac;
    font-family: "Arya", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.92px;
    line-height: 30.6px;
    position: absolute;
    top: 428px;
    width: 531px;
  }
  
  .desktop1 .line-4 {
    height: 76px;
    left: 469px;
    position: absolute;
    top: 949px;
    width: 35px;
  }
  
  .desktop1 .group {
    height: 70px;
    left: 83px;
    position: absolute;
    top: 704px;
    width: 258px;
  }
  
  .desktop1 .overlap-group {
    background-color: #55e6a5;
    height: 70px;
    position: relative;
    width: 256px;
  }
  
  .desktop1 .text-wrapper-2 {
    color: #000000;
    font-family: "Arya", Helvetica;
    font-size: 23.3px;
    font-weight: 700;
    left: 37px;
    letter-spacing: 1.86px;
    line-height: 29.7px;
    position: absolute;
    top: 18px;
    width: 151px;
  }
  
  .desktop1 .arrow {
    height: 15px;
    left: 187px;
    position: absolute;
    top: 25px;
    width: 14px;
  }
  
  .desktop1 .line-5 {
    height: 2px;
    left: 187px;
    position: absolute;
    top: 43px;
    width: 16px;
  }
  
 