.desktop3 {
    background-color: #02050a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    top: 0px;
  }
  
  .desktop3 .div {
    background-color: #02050a;
    height: 7586px;
    position: relative;
    width: 1440px;
  }
  
  .desktop3 .overlap2 {
    height: 1025px;
    left: 178px;
    position: relative;
    top: -10px;
    width: 932px;
  }

  .desktop3 .my-services {
    color: #55e6a5;
    font-family: "Roboto", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 193px;
    letter-spacing: 2.16px;
    line-height: 45.8px;
    position: absolute;
    top: 80px;
    width: 367px;
  }
  
  .desktop3 .text-wrapper-9 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 13px;
    letter-spacing: 2.88px;
    line-height: 61.1px;
    position: absolute;
    text-align: center;
    top: 111px;
    width: 854px;
  }
  
  .desktop3 .group-10 {
    height: 351px;
    left: -100px;
    position: absolute;
    top: 405px;
    width: 1060px;
  }
  
  .desktop3 .group-11 {
    height: 351px;
    left: 0;
    position: absolute;
    top: 0;
    width: 326px;
  }
  
  .desktop3 .overlap-group-4 {
    height: 351px;
    position: relative;
    width: 322px;
  }
  
  .desktop3 .rectangle-4 {
    background-color: #09101a;
    height: 293px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 322px;
  }
  
  .desktop3 .icons-wrapper {
    background-color: #55e6a5;
    border-radius: 4px;
    height: 116px;
    left: 40px;
    position: absolute;
    top: 0;
    width: 125px;
  }
  
  .desktop3 .icons {
    height: 86px;
    left: 28px;
    position: absolute;
    top: 15px;
    width: 70px;
  }
  
  .desktop3 .website-design {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 145px;
    white-space: nowrap;
    width: 205px;
  }
  
  .desktop3 .text-wrapper-10 {
    color: #a7a9ac;
    font-family: "Arya", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 1.2px;
    line-height: 25.4px;
    position: absolute;
    top: 197px;
    width: 275px;
  }
  
  .desktop3 .group-12 {
    height: 348px;
    left: 369px;
    position: absolute;
    top: 3px;
    width: 326px;
  }
  
  .desktop3 .overlap-6 {
    height: 348px;
    position: relative;
    width: 322px;
  }
  
  .desktop3 .rectangle-5 {
    background-color: #09101a;
    height: 293px;
    left: 0;
    position: absolute;
    top: 55px;
    width: 322px;
  }
  
  .desktop3 .group-13 {
    background-color: #55e6a5;
    border-radius: 4px;
    height: 116px;
    left: 39px;
    position: absolute;
    top: 0;
    width: 125px;
  }
  
  .desktop3 .vector-5 {
    height: 76px;
    left: 41px;
    position: absolute;
    top: 24px;
    width: 44px;
  }
  
  .desktop3 .UI-ux-design {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 142px;
    white-space: nowrap;
    width: 172px;
  }
  
  .desktop3 .designing-user {
    color: #a7a9ac;
    font-family: "Arya", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 39px;
    letter-spacing: 1.2px;
    line-height: 25.4px;
    position: absolute;
    top: 194px;
    width: 276px;
  }
  
  .desktop3 .group-14 {
    height: 351px;
    left: 738px;
    position: absolute;
    top: 0;
    width: 326px;
  }
  
  .desktop3 .vector-6 {
    height: 71px;
    left: 39px;
    position: absolute;
    top: 23px;
    width: 47px;
  }
  
  .desktop3 .app-design {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 145px;
    white-space: nowrap;
    width: 149px;
  }
  
  .desktop3 .text-wrapper-11 {
    color: #a7a9ac;
    font-family: "Arya", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 39px;
    letter-spacing: 1.2px;
    line-height: 25.4px;
    position: absolute;
    top: 197px;
    width: 275px;
  }